@model IEnumerable<Proyecto_Fase_1.Models.Carreras>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alta</title>
</head>
<body>
    <div>
        <form method="post" action="/Aspirante/Alta">

            Nombres:
            <input type="text" name="Nombres" />
            <br />
            Primer Apellido:
            <input type="text" name="ApellidoP" />
            <br />
            Segundo Apellido:
            <input type="text" name="ApellidoS" />
            <br />
            DUI:
            <input type="text" name="Dui" />
            <br />
            NIT:
            <input type="text" name="Nit" />
            <br />
            Correo:
            <input type="text" name="Correo" />
            <br />
            Telefono:
            <input type="text" name="Telefono" />
            <br />
            Carrera:
            <select name="IdCarrera">
                @foreach (var item in Model)
                {

                    <option value='@item.Id'>@item.Carrera</option>

                }
            </select>
                <br />
                <input type="submit" value="Agregar" />
            </form>
    </div>
</body>
</html>
