@model IEnumerable<Proyecto_Fase_1.Models.Carreras>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

    <a  href="../home/CarrerasIng?escuela=tecnico">Carreras Tecnicas</a>
    <a href="../home/CarrerasIng?escuela=ingenieria">Carreras de Ingenieria</a>
    <a href="../home/CarrerasIng?escuela=Licenciatura">Carreras de Licenciatura</a>
    <a href="../home/CarrerasIng?escuela=Virtual">Carreras Opcion Virtual</a>



</body>
</html>
