@model IEnumerable<Proyecto_Fase_1.Models.Carreras>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad Don Bosco</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="css/bootstra.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="content">
            <div class="logo">
                <a href="#">UDB</a>
            </div>
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Ofertas académicas</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <div class="banner"></div>
    <div class="about">
        <div class="content">
            <div class="title">Nuestra historia</div>
            <p>Corría la década de 1980 y El Salvador enfrentaba una difícil situación social y educativa. En este contexto, un grupo de salesianos visionarios deciden fundar una institución superior con los rasgos característicos de la obra salesiana: innovación, calidad y el carisma de Don Bosco enfocado en los jóvenes.</p>
            <p>La Universidad Don Bosco fue creada el 8 de marzo de 1984, por impulso de monseñor José Carmen Di Pietro, primer Obispo de Sonsonate; monseñor Pedro Arnoldo Aparicio, Obispo de San Vicente y de los padres Giuseppe Coró, Settimo Rossoni, Alfonso Evertsz, Salvador Cafarelli y Pierre Muyshondt; que junto a laicos como el Dr. Rafael Flores y Flores, la Dra. Celina de Cañas y el Lic. Gilberto Aguilar Avilés, primer rector, crearon la parte jurídico-estructural de la Universidad.</p>
            <br>
            <div class="title">Somos UDB</div>
            <p><strong>Nuestra MISIÓN</strong><br>Una institución de Educación Superior con carisma salesiano dedicada a la formación integral de la persona humana, por medio de la investigación, la ciencia, la cultura, la tecnología, la innovación y el compromiso con la comunidad para la construcción de una sociedad libre, justa y solidaria.</p>
            <p><strong>Nuestra VISIÓN</strong><br>Una universidad salesiana, líder a nivel nacional y referente a nivel regional por su modelo educativo; reconocida por la innovación curricular; por el desarrollo profesional y la internacionalización de sus estudiantes, educadores y personal de gestión; por la ejecución de proyectos de investigación, desarrollo e innovación; por sus publicaciones de impacto; por sus programas de grado y postgrado acreditados internacionalmente; por sus programas a distancia únicos e innovadores; por el mejoramiento continuo de la calidad y por la gestión de sus recursos físicos, tecnológicos y financieros para la sostenibilidad de la institución.</p>
            <p><strong>IDEARIO</strong><br>El Ideario de la UDB es el conjunto de ideas, principios y criterios que de manera organizada, conforman su "ideal" o su "deber ser"; nace de la rica experiencia pedagógica de más de un siglo heredada a los salesianos por Don Bosco, la cual se enriquece a través de los desafíos que surgen desde el contexto local (Soyapango) y nacional (El Salvador).</p>
        </div>
    </div>
    <center>
        <div class="container-fluid">
            <div class="slider owl-carousel">
                <div class="card">
                    <div class="img"><img src="/img/profile-1.jpeg" alt=""></div>
                    <div class="content">
                        <div class="title">Ingeniería Eléctrica recibió reacreditación regional para un período de cinco años (2021-2025) por parte de ACAAI</div>
                        <br>
                        <details>
                            <summary>Leer más</summary>
                            <p>La Universidad Don Bosco recibió la reacreditación regional para su programa de Ingeniería Eléctrica, para un período de cinco años, comprendido del 2021 al 2025; dicho reconocimiento fue otorgado por la Agencia Centroamericana de Acreditación de Programas de Arquitectura y de Ingeniería, ACAAI.</p>
                        </details>
                        <div class="btn">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img"><img src="/img/profile-2.jpeg" alt=""></div>
                    <div class="content">
                        <div class="title">Edificio anexo a la Facultad de Ciencias de la Rehabilitación fue seleccionado como la mejor construcción de Centroamérica 2021-2022 en la categoría Infraestructura Pública</div>
                        <details>
                            <summary>Leer más</summary>
                            <p>El edificio anexo a la Facultad de Ciencias de la Rehabilitación de la Universidad Don Bosco fue seleccionado como la mejor construcción de Centroamérica 2021-2022 en la categoría Infraestructura Pública, reconocimiento impulsado por el Anuario de Obras Construir América Central y el Caribe, en conjunto con la compañía ConectaB2B y MultiInversiones La Paz.</p>
                        </details>
                        <div class="btn">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img"><img src="/img/profile-3.jpeg" alt=""></div>
                    <div class="content">
                        <div class="title">Miembros de la Comunidad Educativa se forman en metodologías de la enseñanza y aprendizaje activo e híbrido con programa de LASPAU</div>
                        <br>
                        <details>
                            <summary>Leer más</summary>
                            <p>Un grupo de docentes e investigadores de la Universidad Don Bosco fueron formados por el Programa de Educación de Evolución Digital (DEEP por sus siglas en inglés) de la Iniciativa Fronteras Tecnológicas, un espacio formativo impulsado por Laspau, Microsoft y la Fundación Universia a través del proyecto MetaRed.</p>
                        </details>
                        <div class="btn">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
    <br><br>
    <div class="container-fluid">
        <center><iframe width="560" height="315" src="https://www.youtube.com/embed/M7JqcUw9ENc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    </div>
    <br>

    <footer>
        <div class="main-content">
            <div class="left box">
                <h2>Mundo salesiano</h2>
                <div class="content">
                    <p>Don Bosco nace en un hogar campesino del Piamonte, Italia, en 1815. Gracias a la intuición de la madre y a su respaldo incondicional, se aventura al sacerdocio, no obstante las graves limitaciones financieras de su familia y la crisis social y económica de su ambiente.</p>
                    <div class="social">
                        <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
                        <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
                    </div>
                </div>
            </div>

            <div class="center box">
                <h2>Ubicación</h2>
                <div class="content">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text">Calle a Plan del Pino Km 1 1/2</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone-alt"></span>
                        <span class="text">+503 2251 8241</span>
                    </div>
                    <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span class="text">udbvirtual@udb.edu.sv</span>
                    </div>
                </div>
            </div>

            <div class="right box">
                <h2>Contáctanos</h2>
                <div class="content">
                    <form action="#">
                        <div class="email">
                            <div class="text">Email *</div>
                            <input type="email" required>
                        </div>
                        <div class="msg">
                            <div class="text">Mensaje *</div>
                            <textarea rows="2" cols="25" required></textarea>
                        </div>
                        <div class="btn">
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom">
            <center>
                <span class="credit">Universidad Don Bosco <a href="https://www.udb.edu.sv/udb/">UDB</a> | </span>
                <span class="far fa-copyright"></span><span> 2022 Todos los derechos reservados.</span>
            </center>
        </div>
    </footer>

    <script>
        $(".slider").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000, //2000ms = 2s;
            autoplayHoverPause: true,
        });
    </script>
    <script>
        const body = document.querySelector("body");
        const navbar = document.querySelector(".navbar");
        const menuBtn = document.querySelector(".menu-btn");
        const cancelBtn = document.querySelector(".cancel-btn");
        menuBtn.onclick = () => {
            navbar.classList.add("show");
            menuBtn.classList.add("hide");
            body.classList.add("disabled");
        }
        cancelBtn.onclick = () => {
            body.classList.remove("disabled");
            navbar.classList.remove("show");
            menuBtn.classList.remove("hide");
        }
        window.onscroll = () => {
            this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
        }
    </script>
    <br><br>
    <a href="../home/CarrerasIng?escuela=tecnico">Carreras Tecnicas</a>
    <a href="../home/CarrerasIng?escuela=ingenieria">Carreras de Ingenieria</a>
    <a href="../home/CarrerasIng?escuela=Licenciatura">Carreras de Licenciatura</a>
    <a href="../home/CarrerasIng?escuela=Virtual">Carreras Opcion Virtual</a>

</body>
</html>
